@import url("https://fonts.googleapis.com/css?family=Bebas Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  display: inline-flex;
  z-index: 10;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.page {
  width: 100%;
  display: flex;
  margin-inline: 10em;
  justify-content: center;
  align-items: center;
}
.page > a {
  font-family: Roboto;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.page > a:hover {
  color: rgb(87, 87, 87);
}

.video_block {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next-section {
  display: flex;
  flex-direction: column;
  height: 150vh;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 75vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  align-items: center;
  /* padding: 10px; */
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.big_word {
  margin: 0;
  display: flex;
  align-items: center;
}
.big_word > p {
  font-family: Bebas Neue;
  font-size: 95px;
}
.small_word {
  margin-top: -20px;
  display: flex;
  text-align: center;
}
.small_word > p {
  font-family: Roboto;
  font-size: 45px;
  text-align: center;
}
.btn {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
  justify-content: center;
}
.ai_btn {
  display: flex;
}
.inpt {
  margin-top: 5px;
  display: flex;
}
.ai_btn > button {
  border-style: solid;
  font-size: 35px;
  padding: 0.4em;
  color: aliceblue;
  background-color: black;
  cursor: pointer;
  margin-right: 40px;
  border-radius: 60px;
}
.ai_btn > button:hover {
  background-color: rgb(59, 59, 59);
}

.inpt > input {
  height: 80px;
  width: 300px;
  font-size: 50px;
  color: black;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  outline: none;
  font-family: Bebas Neue;
  margin-right: 40px;
  border-radius: 60px;
  padding-top: 6px;
}
.inpt > input:hover {
  color: white;
  background-color: black;
}
.answer {
  margin-top: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: auto;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.left_bar {
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
}
.form_bar {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.info_bar {
  display: block;

  height: 100px;
  padding: 10px;
}
.logo_bar {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 40px; */
}
.logo_bar > img {
  width: auto;
  max-height: 100%;
  padding: 20px;
}
.form_bar > img {
  width: auto;
  max-height: 100%;
}

.answer > p {
  text-align: left;
  margin-top: 50px;
  font-size: 13px;
  font-family: Roboto;
  padding: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
#video_btn {
  width: 60px;
  height: 60px;
  font-size: 10px;
  position: absolute;
  color: black;
  top: 100px;
  right: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  /* padding-left: 0px; */
  padding-top: 3px;
}
#playPauseImg {
  width: 30px;
}
#video_btn:hover {
  background-color: rgb(255, 255, 255);
}

.banner {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 500px;
}
.banner > img {
  border-radius: 100px;
  width: 60%;
}
#year {
  text-align: center;
  font-family: Teko;
  font-size: 30px;
}
.name {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.name > p {
  font-size: 40px;
  font-family: Sigmar;
}
.ai_info {
  display: block;
}
.ai_info > p {
  font-family: Teko;
  font-size: 15px;
  padding: 10px;
}
#response > h1 {
  text-align: center;
}
#l_5_events {
  padding: 10px;
}
table {
  width: 80%;
  /* margin: 20px auto; */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  border-radius: 20px;
  border-style: solid;
  overflow: hidden;
}

th,
td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #000000;
  color: white;
  font-size: 14px;
}

td {
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
.site_bar {
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  padding: 10px;
}
.site_bar > a {
  /* padding: px; */
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.site_bar > a:hover {
  color: #414141;
}
.buttom_bar {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.buttom_bar > button {
  border-style: solid;
  margin-top: 0px;
  font-size: 25px;
  padding: 0.4em;
  color: aliceblue;
  background-color: black;
  cursor: pointer;
  border-radius: 60px;
}
.buttom_bar > button:hover {
  background-color: rgb(59, 59, 59);
}
